sm/sm-refund-credit/main/default/flows/SM_Refund_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Remaining_Amount</name>
        <label>Apply Remaining Amount</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>applyPayment</actionName>
        <actionType>applyPayment</actionType>
        <connector>
            <targetReference>Get_Invoice_Line_to_Credit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>RemainingAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appliedToId</name>
            <value>
                <elementReference>Get_Payment_Line_Invoice.Invoice.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>associatedAccountId</name>
            <value>
                <elementReference>Get_Payment_Line_Invoice.AssociatedAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Get_Payment_Line_Invoice.Payment.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Credit_Invoice</name>
        <label>Credit Invoice</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <actionName>CreditInvoiceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Refund_Number_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>Get_Invoice_Line_to_Credit.Invoice.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceLines</name>
            <value>
                <elementReference>InvoiceLineModels</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refund_Payment</name>
        <label>Refund Payment</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>RefundPaymentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Apply_Remaining_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Payment_Line_Invoice.AssociatedAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>refundAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Get_Payment_Line_Invoice.Payment.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refund_Payment_Balance</name>
        <label>Refund Payment Balance</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>RefundPaymentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Refund_Number</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Payment_Record.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>refundAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>paymentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Unapply_Payment</name>
        <label>Unapply Payment</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>UnapplyPaymentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refund_Payment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Unapplying due to refund</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentLineId</name>
            <value>
                <elementReference>Get_Payment_Line_Invoice.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Invoice_Line_Model_to_List</name>
        <label>Add Invoice Line Model to List</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>InvoiceLineModels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>invoiceLineModel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Line_Model</name>
        <label>Assign Invoice Line Model</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>invoiceLineModel.amountToCredit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>refundAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceLineModel.invoiceLineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Line_to_Credit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_Line_Model_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Refund_Number</name>
        <label>Assign Refund Number</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>refundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refund_Payment_Balance.refundNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Refund_Number_2</name>
        <label>Assign Refund Number 2</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>refundNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refund_Payment.refundNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_there_payment_balance_to_refund</name>
        <label>Is there payment balance to refund?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Line_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Record.Balance</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>refundAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refund_Payment_Balance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>RemainingAmount</name>
        <dataType>Number</dataType>
        <expression>{!Get_Payment_Line_Invoice.Amount} - {!refundAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[SM] Refund Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM] Refund Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Line_to_Credit</name>
        <label>Get Invoice Line to Credit</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Invoice_Line_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Line_Invoice.Invoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LineAmount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>refundAmount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceLine</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Line_Invoice</name>
        <label>Get Applied Payment Line Invoice</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unapply_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasBeenUnapplied</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentLineInvoice</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_payment_balance_to_refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceLineModel</name>
        <apexClass>InvoiceLineModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceLineModels</name>
        <apexClass>InvoiceLineModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>refundNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
