sm/sm-renewals/main/default/flows/SM_Order_to_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Billing_Schedules_From_Order_Items</name>
        <label>Generate Billing Schedules From Order Items</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>createBillingScheduleFromOrderItem</actionName>
        <actionType>createBillingScheduleFromOrderItem</actionType>
        <connector>
            <targetReference>Wait_For_Billing_Scheds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>orderProductIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>billingSchedEvent</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>createOrUpdateAssetFromOrder</actionName>
        <actionType>createOrUpdateAssetFromOrder</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_Cancellation_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Order_Product_Ids</name>
        <label>Collect Order Product Ids</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>orderProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Order_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Order_Items</targetReference>
        </connector>
    </assignments>
    <interviewLabel>[SM] Order to Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM] Order to Assets</label>
    <loops>
        <name>Iterate_over_Order_Items</name>
        <label>Iterate over Order Items</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Order_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Billing_Schedules_From_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cancellation_Order</name>
        <label>Get Cancellation Order</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <inputReference>Get_Cancellation_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cancellation_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetCancelEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetCancelInitiatedEvent</objectType>
    </variables>
    <variables>
        <name>AssetChangeEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreateAssetOrderEvent</objectType>
    </variables>
    <variables>
        <name>billingSchedEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateAssetRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_For_Billing_Scheds</name>
        <label>Wait For Billing Scheds</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Billing_Sched_Complete</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Assets</targetReference>
            </connector>
            <eventType>BillingScheduleCreatedEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>billingSchedEvent</elementReference>
                </value>
            </inputParameters>
            <label>Billing Sched Complete</label>
        </waitEvents>
    </waits>
</Flow>
