sm/sm-renewals/main/default/flows/SM_Renew_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Init_Renewal</name>
        <label>Init Renewal</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>SM_InvocableInitAssetRenew</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_Renewal_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>reqId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>[SM] Renew Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM] Renew Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Renewal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Assets_and_Billing_Schedules</name>
        <label>Generate Assets and Billing Schedules</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>SM_Order_to_Assets</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>assetRenewEvent.RenewalRecordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>assetRenewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetRenewInitiatedEvent</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reqId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Renewal_Event</name>
        <label>Wait for Renewal Event</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_for_renew</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Generate_Assets_and_Billing_Schedules</targetReference>
            </connector>
            <eventType>AssetRenewInitiatedEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>reqId</elementReference>
                </value>
            </inputParameters>
            <label>Wait for renew</label>
            <outputParameters>
                <assignToReference>assetRenewEvent</assignToReference>
                <name>AssetRenewInitiatedEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
