sm/sm-cancel-asset/main/default/flows/SM_Cancel_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Single_Asset</name>
        <label>Cancel Single Asset</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <actionName>SM_InvocableInitAssetCancel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_Asset_Cancellation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cancelRequestId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Billing_Schedules_From_Order_Items</name>
        <label>Generate Billing Schedules From Order Items</label>
        <locationX>380</locationX>
        <locationY>1694</locationY>
        <actionName>createBillingScheduleFromOrderItem</actionName>
        <actionType>createBillingScheduleFromOrderItem</actionType>
        <connector>
            <targetReference>Wait_For_Billing_Scheds</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>orderProductIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>billingSchedEvent</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancellation_Email</name>
        <label>Send Cancellation Email</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Cancellation complete for: {!cancelOrderId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cancellation Complete</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Cancelled_Asset_0_0</name>
        <label>Update Cancelled Asset</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <actionName>createOrUpdateAssetFromOrder</actionName>
        <actionType>createOrUpdateAssetFromOrder</actionType>
        <connector>
            <targetReference>Wait_for_Asset_Update_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>AssetCancelEvent.CancellationRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>updateAssetRequestId</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Cancellation_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Order_Product_Ids</name>
        <label>Collect Order Product Ids</label>
        <locationX>468</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>orderProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Order_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Description</name>
        <label>Set Asset Cancellation Fields</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCancelDetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancellation_Order_Id</name>
        <label>Set Cancellation Order Id</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>cancelOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCancelEvent.CancellationRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cancellation_Order</targetReference>
        </connector>
    </assignments>
    <interviewLabel>[SM] Cancel Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM] Cancel Asset</label>
    <loops>
        <name>Iterate_over_Order_Items</name>
        <label>Iterate over Order Items</label>
        <locationX>380</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Order_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Billing_Schedules_From_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Asset_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cancellation_Order</name>
        <label>Get Cancellation Order</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cancelOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>380</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cancelOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Description</name>
        <label>Update Asset Description</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_Cancellation_Order_Id</targetReference>
        </connector>
        <inputReference>Get_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>380</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <inputReference>Get_Cancellation_Order</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cancel_Single_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AssetCancelDetail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cancelled on {!$Flow.CurrentDate}</text>
    </textTemplates>
    <variables>
        <name>AssetCancelEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetCancelInitiatedEvent</objectType>
    </variables>
    <variables>
        <name>AssetChangeEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreateAssetOrderEvent</objectType>
    </variables>
    <variables>
        <name>AssetUpdateEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetChangeEvent</objectType>
    </variables>
    <variables>
        <name>billingSchedEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateAssetRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Asset_Cancellation</name>
        <label>Wait for Asset Cancellation</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Asset_Cancel_Order_Generated</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <eventType>AssetCancelInitiatedEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>cancelRequestId</elementReference>
                </value>
            </inputParameters>
            <label>Asset Cancel Order Generated</label>
            <outputParameters>
                <assignToReference>AssetCancelEvent</assignToReference>
                <name>AssetCancelInitiatedEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_Asset_Update_0</name>
        <label>Wait for Asset Update</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Asset_Update_Complete_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Cancellation_Email</targetReference>
            </connector>
            <eventType>CreateAssetOrderEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>updateAssetRequestId</elementReference>
                </value>
            </inputParameters>
            <label>Asset Update Complete</label>
            <outputParameters>
                <assignToReference>AssetChangeEvent</assignToReference>
                <name>CreateAssetOrderEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_For_Billing_Scheds</name>
        <label>Wait For Billing Scheds</label>
        <locationX>380</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Billing_Scheds_Completed</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Cancelled_Asset_0_0</targetReference>
            </connector>
            <eventType>BillingScheduleCreatedEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>billingSchedEvent</elementReference>
                </value>
            </inputParameters>
            <label>Billing Scheds Completed</label>
        </waitEvents>
    </waits>
</Flow>
