sm/sm-base/main/default/flows/Asset_Cancel_Event_Subscribe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_With_Cancellation_Order_ID</name>
        <label>Send Email With Cancellation Order ID</label>
        <locationX>308</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A new cancellation order has been created. {!CancellationOrderId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Cancellation Order Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Get_Cancellation_Order_Id</name>
        <label>Get Cancellation Order Id</label>
        <locationX>308</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>CancellationOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_With_Cancellation_Order_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_HasErrors_Field</name>
        <label>Check HasErrors Field</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Get_Cancellation_Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Order Created</defaultConnectorLabel>
        <rules>
            <name>Error_Encountered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Error Encountered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asset Cancel Event Subscribe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Cancel Event Subscribe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_HasErrors_Field</targetReference>
        </connector>
        <object>AssetCancelInitiatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CancellationOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
