sm/sm-base/main/default/flows/Order_To_Billing_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Billing_Schedules_0</name>
        <label>Create Billing Schedules</label>
        <locationX>50</locationX>
        <locationY>1010</locationY>
        <actionName>createBillingScheduleFromOrderItem</actionName>
        <actionType>createBillingScheduleFromOrderItem</actionType>
        <connector>
            <targetReference>Update_Assets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderItemIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>50</locationX>
        <locationY>1130</locationY>
        <actionName>createOrUpdateAssetFromOrder</actionName>
        <actionType>createOrUpdateAssetFromOrder</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CollectOrderItemIds_0</name>
        <label>Collect Order Item Ids</label>
        <locationX>138</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>OrderItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_OrderItems_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_OrderItems_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Order_Activated</name>
        <label>Is Order Activated</label>
        <locationX>710</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AppUsageAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatusCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_from_Buy_Now</name>
        <label>Are All Records BuyNow?</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>No_BuyNow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyNowOrderRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryOrderItems_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_BuyNow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyNowOrderRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Order To Billing Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order To Billing Schedule</label>
    <loops>
        <name>Iterate_OrderItems_0</name>
        <label>Iterate OrderItems</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>OrderItemsRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectOrderItemIds_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Billing_Schedules_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AppUsageAssignment</name>
        <label>Get AppUsageAssignment</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_from_Buy_Now</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BuyNow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AppUsageAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueryOrderItems_0</name>
        <label>QueryOrderItems</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_OrderItems_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>OrderItemsRecs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Order_Activated</targetReference>
        </connector>
        <object>OrderStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>BuyNowOrderRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderItemsRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
