sm/sm-base/main/default/flows/Subscribe_Invoice_Processed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_Failed</name>
        <label>Invoice Failed</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Invoice Failed {!$Record.IsSuccess}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Invoice Failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Through_Invoice_Processed_Events</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InvoiceGeneratedEmailTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Invoice Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Get_Detail_Events</name>
        <label>Get Detail Events</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>InvoiceProcessedDetailEvents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InvoiceProcessedDetailEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Invoice_Processed_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Id</name>
        <label>Set Invoice Id</label>
        <locationX>138</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>InvoiceGeneratedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Invoice_Processed_Events.Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceGeneratedNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Invoice_Processed_Events.Invoice.DocumentNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceGeneratedBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Invoice_Processed_Events.Invoice.Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceGeneratedAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Invoice_Processed_Events.Invoice.TotalAmountWithTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Invoice_Created</name>
        <label>Is Invoice Created</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Invoice_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Detail_Events</targetReference>
            </connector>
            <label>Invoice Created</label>
        </rules>
    </decisions>
    <interviewLabel>Subscribe Invoice Processed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscribe Invoice Processed</label>
    <loops>
        <name>Iterate_Through_Invoice_Processed_Events</name>
        <label>Iterate Through Invoice Processed Events</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <collectionReference>InvoiceProcessedDetailEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Invoice_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Invoice_Created</targetReference>
        </connector>
        <object>InvoiceProcessedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>InvoiceGeneratedEmailTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;AmountInvoice Successfully Completed&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!InvoiceGeneratedId}&lt;/p&gt;&lt;p&gt;{!InvoiceGeneratedNumber}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!InvoiceGeneratedAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!InvoiceGeneratedBalance}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InvoiceGeneratedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InvoiceGeneratedBalance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceGeneratedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceGeneratedNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceProcessedDetailEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InvoiceProcessedDetailEvent</objectType>
    </variables>
    <variables>
        <name>InvoiceProcessedEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InvoiceProcessedEvent</objectType>
    </variables>
</Flow>
