sm/sm-b2b-connector-temp/main/default/flows/SM_Renewal_Checkout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>If the call to the Payment Sale API is successful, apply the payment to the invoice.</description>
        <name>ApplyPaymentToInvoice</name>
        <label>Apply Payment to Invoice</label>
        <locationX>3197</locationX>
        <locationY>886</locationY>
        <actionName>applyPayment</actionName>
        <actionType>applyPayment</actionType>
        <connector>
            <targetReference>SendCompletedEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amountLoop.Invoice.Balance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appliedToId</name>
            <value>
                <elementReference>amountLoop.Invoice.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>PaymentCreationEvent.PaymentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Call the Payment Sale API. Charge the amount on the invoice to the payment method.</description>
        <name>ChargePaymentMethod</name>
        <label>Charge Payment Method</label>
        <locationX>2921</locationX>
        <locationY>743</locationY>
        <actionName>paymentSale</actionName>
        <actionType>paymentSale</actionType>
        <connector>
            <targetReference>WaitForPaymentCreationEvent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amountLoop.Invoice.Balance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyIsoCode</name>
            <value>
                <elementReference>getB2Borders.Account.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentGatewayId</name>
            <value>
                <elementReference>GatewayId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodId</name>
            <value>
                <elementReference>paymentMethodId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Create the assets for the order products.</description>
        <name>CreateAssetsFromOrder</name>
        <label>Create Assets From Order</label>
        <locationX>1120</locationX>
        <locationY>456</locationY>
        <actionName>createOrUpdateAssetFromOrder</actionName>
        <actionType>createOrUpdateAssetFromOrder</actionType>
        <connector>
            <targetReference>WaitForCreateAssetOrderEvent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>getB2Borders.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Create the billing schedule for the order products.</description>
        <name>CreateBillingSchedulesfromOrderProducts</name>
        <label>Create Billing Schedules from Order Products</label>
        <locationX>1808</locationX>
        <locationY>444</locationY>
        <actionName>createBillingScheduleFromOrderItem</actionName>
        <actionType>createBillingScheduleFromOrderItem</actionType>
        <connector>
            <targetReference>WaitForBillingScheduleCreatedEvent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderItemsIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Create the invoice for the billing schedules.</description>
        <name>CreateInvoice</name>
        <label>Create Invoice</label>
        <locationX>2450</locationX>
        <locationY>442</locationY>
        <actionName>createInvoiceFromOrder</actionName>
        <actionType>createInvoiceFromOrder</actionType>
        <connector>
            <targetReference>WaitForInvoiceProcessedEvent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>correlationId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceDate</name>
            <value>
                <elementReference>getB2Borders.EffectiveDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceStatus</name>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>getB2Borders.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetDate</name>
            <value>
                <elementReference>getB2Borders.EffectiveDate</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Send the email containing the errors from the Create Asset Order events.</description>
        <name>SendAssetOrderErrorEmail</name>
        <label>Send Asset Creation Error Email</label>
        <locationX>1487</locationX>
        <locationY>1088</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getB2Borders.BillingEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AssetOrderErrorEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send the email containing all the errors from the billing schedule events.</description>
        <name>SendBillingScheduleErrorEmail</name>
        <label>Send Billing Schedule Error Email</label>
        <locationX>2195</locationX>
        <locationY>1089</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getB2Borders.BillingEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>BillingScheduleErrorEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send the email indicating that the transaction is complete.</description>
        <name>SendCompletedEmail</name>
        <label>Send Completed Email</label>
        <locationX>3198</locationX>
        <locationY>653</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>amountLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>prkumar@docmation.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Buy Now completed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send the email containing the invoice error information.</description>
        <name>SendInvoiceErrorEmail</name>
        <label>Send Invoice Error Email</label>
        <locationX>2836</locationX>
        <locationY>1272</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getB2Borders.BillingEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InvoiceErrorEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send the email containing error information about the payment sale.</description>
        <name>SendPaymentSaleErrorEmail</name>
        <label>Send Payment Sale Error Email</label>
        <locationX>3344</locationX>
        <locationY>443</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>amountLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getB2Borders.BillingEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PaymentSaleErrorEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignB2BOrderVar</name>
        <label>assignB2BOrderVar</label>
        <locationX>209</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getB2Borders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collect the error messages.</description>
        <name>CollectCreateAssetOrderDtlEvtErrMsgs</name>
        <label>Collect Error Messages</label>
        <locationX>1357</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateAssetOrderDtlEvtErrCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverCreateAssetOrderDtlEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the error message records to the collection variable.</description>
        <name>CollectErrorMessage</name>
        <label>Collect Error Messages</label>
        <locationX>2634</locationX>
        <locationY>1273</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceErrorCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverInvoiceErrors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the error message records to the collection variable.</description>
        <name>CollectErrorMessages</name>
        <label>Collect Error Messages</label>
        <locationX>2067</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingScheduleErrorCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverBillingScheduleEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the invoice error detail event records to the collection variable.</description>
        <name>CollectInvoiceErrorDetailEvent</name>
        <label>Collect Invoice Error Detail Event</label>
        <locationX>2437</locationX>
        <locationY>1263</locationY>
        <assignmentItems>
            <assignToReference>InvoiceErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverInvoiceErrorDetailEvents.InvoiceErrorDetailEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverInvoiceErrorDetailEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the invoice header error records to the collection variable.</description>
        <name>CollectInvoiceHeaderErrors</name>
        <label>Collect Invoice Header Errors</label>
        <locationX>2446</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>InvoiceErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceProcessedEvent.InvoiceErrorDetailEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectInvoiceProcessedDetailEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the invoice processed detail events to the collection variable.</description>
        <name>CollectInvoiceProcessedDetailEvents</name>
        <label>Collect Invoice Processed Detail Events</label>
        <locationX>2589</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>InvoiceProcessedDetailEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceProcessedEvent.InvoiceProcessedDetailEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverInvoiceErrorDetailEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the order product records to the collection variable.</description>
        <name>CollectOrderProductIDs</name>
        <label>Collect Order Product IDs</label>
        <locationX>1654</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OrderItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverOrderProductsGetID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverOrderProductsGetID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the order product records to the collection variable.</description>
        <name>CollectOrderProducts</name>
        <label>Collect Order Products</label>
        <locationX>706</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>OrderItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Read_Each_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Each_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InvoiceAmountSet</name>
        <label>InvoiceAmountSet</label>
        <locationX>2767</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>InvoiceProcessedDetailEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceProcessedEvent.InvoiceProcessedDetailEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>amountLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Balance</name>
        <label>Set Balance</label>
        <locationX>2864</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>BalanceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountLoop.Invoice.Balance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChargePaymentMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmailBodyBillingScheduleError</name>
        <label>Set Email Body</label>
        <locationX>2195</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingScheduleErrorEmailBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendBillingScheduleErrorEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmailBodyInvoiceError</name>
        <label>Set Email Body</label>
        <locationX>2836</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceErrorEmailBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendInvoiceErrorEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmailBodyPaymentSaleError</name>
        <label>Set Email Body</label>
        <locationX>3344</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentSaleErrorEmailBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendPaymentSaleErrorEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the EmailErrorDetails variable which is used in the email template.</description>
        <name>SetEmailErrorDetailsPaymentSale</name>
        <label>Set Email Error Details</label>
        <locationX>3344</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentCreationEvent.ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetEmailBodyPaymentSaleError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the order ID and the order number to the order product.</description>
        <name>SetOrderIDOnOrderProduct</name>
        <label>Set Order ID on Order Product</label>
        <locationX>582</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>Read_Each_Record.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Required. Set the ID of the payment gateway provider to use for this transaction.</description>
        <name>SetPaymentGatewayID</name>
        <label>Set Payment Gateway ID</label>
        <locationX>389</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>GatewayId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentGatewayId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getB2Borders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create the body of the email to contain the error messages.</description>
        <name>SetupEmailBodyAssetOrderError</name>
        <label>Set Error Email Body</label>
        <locationX>1487</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>EmailErrorBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetOrderErrorEmailBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendAssetOrderErrorEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine whether an error occurred during the creation of the asset.</description>
        <name>AssetCreationFailed</name>
        <label>Asset Creation Failed?</label>
        <locationX>1244</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>IterateOverCreateAssetOrderDtlEvents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssetCreationFailure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverCreateAssetOrderDtlEvents.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectCreateAssetOrderDtlEvtErrMsgs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether an error occurred during the creation of the assets.</description>
        <name>AssetsHaveErrors</name>
        <label>Assets Have Errors?</label>
        <locationX>1475</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssetSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailErrorDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverOrderProductsGetID</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>AssetFailure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailErrorDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetupEmailBodyAssetOrderError</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether an error occurred during the creation of the billing schedule.</description>
        <name>BillingScheduleErrorCheck</name>
        <label>Billing Schedule Has Error?</label>
        <locationX>2187</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BillingScheduleSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailErrorDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInvoice</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>BillingScheduleErrorExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailErrorDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmailBodyBillingScheduleError</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether an error occurred during the creation of the billing schedule.</description>
        <name>BillingScheduleHasError</name>
        <label>Has Error?</label>
        <locationX>1955</locationX>
        <locationY>1056</locationY>
        <defaultConnector>
            <targetReference>IterateOverBillingScheduleEvents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BillingScheduleContainsError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverBillingScheduleEvents.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectErrorMessages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether an error occurred during the creation of the invoice.</description>
        <name>InvoiceHasError</name>
        <label>Invoice Has Error?</label>
        <locationX>2581</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InvoiceSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceProcessedEvent.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvoiceAmountSet</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>InvoiceError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceProcessedEvent.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectInvoiceHeaderErrors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderAvailable</name>
        <label>OrderAvailable?</label>
        <locationX>50</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getB2Borders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignB2BOrderVar</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether an error occurred during the creation of the payment sale.</description>
        <name>PaymentSaleErrorCheck</name>
        <label>Has Error?</label>
        <locationX>3112</locationX>
        <locationY>1125</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaymentSaleSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentCreationEvent.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApplyPaymentToInvoice</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>PaymentSaleError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentCreationEvent.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmailErrorDetailsPaymentSale</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssetOrderErrorEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;A Salesforce Flow didn&apos;t complete, because it could not create the assets:&quot;</expression>
    </formulas>
    <formulas>
        <name>AssetOrderErrorEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;A Salesforce Flow didn&apos;t complete: Assets could not be created&quot;</expression>
    </formulas>
    <formulas>
        <description>Collects billing schedule errors.</description>
        <name>BillingScheduleErrorCollection</name>
        <dataType>String</dataType>
        <expression>{!EmailErrorDetails} &amp; {!IterateOverBillingScheduleEvents.ErrorMessage}</expression>
    </formulas>
    <formulas>
        <description>Email body for billing schedule error case.</description>
        <name>BillingScheduleErrorEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;The following errors prevented Salesforce Billing from completing order &quot; + {!orderOutput.OrderNumber}</expression>
    </formulas>
    <formulas>
        <description>Email subject for billing schedule error case.</description>
        <name>BillingScheduleErrorEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Salesforce Billing order &quot; + {!orderOutput.OrderNumber} + &quot; wasn’t completed&quot;</expression>
    </formulas>
    <formulas>
        <name>datetimetoresume</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1/1440</expression>
    </formulas>
    <formulas>
        <description>Collects invoice errors.</description>
        <name>InvoiceErrorCollection</name>
        <dataType>String</dataType>
        <expression>{!EmailErrorDetails} &amp; {!IterateOverInvoiceErrors.ErrorMessage}</expression>
    </formulas>
    <formulas>
        <description>Email body for invoice error case.</description>
        <name>InvoiceErrorEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Salesforce invoice contains error&quot;</expression>
    </formulas>
    <formulas>
        <description>Email subject for invoice error case.</description>
        <name>InvoiceErrorEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Salesforce invoice contains errors&quot;</expression>
    </formulas>
    <formulas>
        <description>Email body for payment sale error case.</description>
        <name>PaymentSaleErrorEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Salesforce Payment Sale for invoice &quot; + {!IterateOverInvoices.Invoice.DocumentNumber}  + &quot; wasn’t completed&quot;</expression>
    </formulas>
    <formulas>
        <description>Email subject for payment sale error case.</description>
        <name>PaymentSaleErrorEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Salesforce Payment Sale for Invoice &quot; + {!IterateOverInvoices.Invoice.InvoiceNumber} + &quot; wasn’t completed&quot;</expression>
    </formulas>
    <interviewLabel>SM Renewal Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Renewal Checkout</label>
    <loops>
        <name>amountLoop</name>
        <label>amountLoop</label>
        <locationX>2905</locationX>
        <locationY>292</locationY>
        <collectionReference>InvoiceProcessedDetailEvent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Balance</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop through the event detail records for the Billing Schedule Created Event. Check for errors and other messages.</description>
        <name>IterateOverBillingScheduleEvents</name>
        <label>Iterate Over Billing Schedule Events</label>
        <locationX>1959</locationX>
        <locationY>662</locationY>
        <collectionReference>BillingScheduleCreatedEvent.BillingScheduleCreatedEventDetail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BillingScheduleHasError</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BillingScheduleErrorCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the event detail records for the Create Asset Order Event. Check for errors and other messages.</description>
        <name>IterateOverCreateAssetOrderDtlEvents</name>
        <label>Iterate Over Create Asset Order Detail Events</label>
        <locationX>1258</locationX>
        <locationY>663</locationY>
        <collectionReference>CreateAssetOrderEvent.AssetDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssetCreationFailed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssetsHaveErrors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the invoice error detail event records.</description>
        <name>IterateOverInvoiceErrorDetailEvents</name>
        <label>Iterate Over Invoice Error Detail Events</label>
        <locationX>2437</locationX>
        <locationY>1014</locationY>
        <collectionReference>InvoiceProcessedDetailEvent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectInvoiceErrorDetailEvent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterateOverInvoiceErrors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the list of invoice errors and collect the error messages into a single variable.</description>
        <name>IterateOverInvoiceErrors</name>
        <label>Iterate Over Invoice Errors</label>
        <locationX>2631</locationX>
        <locationY>1014</locationY>
        <collectionReference>InvoiceErrors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectErrorMessage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetEmailBodyInvoiceError</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the list of invoices and create the payment sale records.</description>
        <name>IterateOverInvoices</name>
        <label>Iterate Over Invoices</label>
        <locationX>3047</locationX>
        <locationY>201</locationY>
        <collectionReference>InvoiceProcessedEvent.InvoiceProcessedDetailEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <loops>
        <description>Loop through the order products and copy the order product ID to a new variable.</description>
        <name>IterateOverOrderProductsGetID</name>
        <label>Iterate Over Order Products</label>
        <locationX>1655</locationX>
        <locationY>662</locationY>
        <collectionReference>OrderItemsToBeCreated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectOrderProductIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateBillingSchedulesfromOrderProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the list of order products and add them to the order.</description>
        <name>Read_Each_Record</name>
        <label>Read Each Record</label>
        <locationX>661</locationX>
        <locationY>458</locationY>
        <collectionReference>Fetch_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectOrderProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pause_for_Completing_Order_Process_Fully</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create an application usage assignments record for this transaction.</description>
        <name>CreateBuyNowAppTagForOrder</name>
        <label>Create Buy Now App Tag For Order</label>
        <locationX>398</locationX>
        <locationY>675</locationY>
        <inputAssignments>
            <field>AppUsageType</field>
            <value>
                <stringValue>BuyNow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId</field>
            <value>
                <elementReference>b2bOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>AppUsageAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the order record for this transaction.</description>
        <name>CreateOrder</name>
        <label>Create Order</label>
        <locationX>604</locationX>
        <locationY>242</locationY>
        <inputReference>order</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the order product records. The order products are related to the order.</description>
        <name>CreateOrderProducts</name>
        <label>Create Order Products</label>
        <locationX>897</locationX>
        <locationY>674</locationY>
        <inputReference>OrderItemsToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Order_Product</name>
        <label>Fetch Order Product</label>
        <locationX>429</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Read_Each_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getB2Borders.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductSellingModelId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getB2Borders</name>
        <label>getB2Borders</label>
        <locationX>180</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>b2bOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the invoice records.</description>
        <name>GetInvoiceRecords</name>
        <label>Get Invoice Records</label>
        <locationX>2647</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateOverInvoiceErrorDetailEvents.Invoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the order ID and the order number from the order that was created.</description>
        <name>GetOrderOutputFields</name>
        <label>Get Order Output Fields</label>
        <locationX>799</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>orderOutput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Activate the order.</description>
        <name>ActivateOrder</name>
        <label>Activate Order</label>
        <locationX>972</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>CreateAssetsFromOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getB2Borders.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>revenue_buynow__BuyNow</sourceTemplate>
    <start>
        <locationX>264</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>SetPaymentGatewayID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CreateAssetOrderDtlEvtErrCollection</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!EmailErrorDetails}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!IterateOverCreateAssetOrderDtlEvents.OrderItem.Product2.Name} : &lt;/p&gt;&lt;p&gt;{!IterateOverCreateAssetOrderDtlEvents.ErrorCode}: {!IterateOverCreateAssetOrderDtlEvents.ErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email body for when Buy Now completes without error.</description>
        <name>EmailTemplateCompleted</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Your order has been placed successfully.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Details:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Order Number: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!getB2Borders.OrderNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Invoice Number: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!amountLoop.Invoice.DocumentNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Your payment of $&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!BalanceAmount} &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;was successful.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email body for when Buy Now has an error.</description>
        <name>EmailTemplateError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hello, {!$User.FirstName} {!$User.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EmailErrorBody}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!EmailErrorDetails}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Salesforce Process Automation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You’re registered as {!$User.Username} in {!$Organization.Name}. Questions? Need help? Contact Salesforce Customer Support. &amp;lt;&lt;/span&gt;&lt;a href=&quot;https://help.salesforce.com/mysuccesshub?id=solutionFinder&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;https://help.salesforce.com/mysuccesshub?id=solutionFinder&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>b2bOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BalanceAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BillingScheduleCreatedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingScheduleCreatedEvent</objectType>
    </variables>
    <variables>
        <name>CreateAssetOrderDtlEventErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>IterateOverCreateAssetOrderDtlEvents.ErrorMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>CreateAssetOrderEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreateAssetOrderEvent</objectType>
    </variables>
    <variables>
        <name>EmailErrorBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailErrorDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceErrors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceErrorDetailEvent</objectType>
    </variables>
    <variables>
        <name>InvoiceProcessedDetailEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceProcessedDetailEvent</objectType>
    </variables>
    <variables>
        <name>InvoiceProcessedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceProcessedEvent</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItemsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>PaymentCreationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentCreationEvent</objectType>
    </variables>
    <variables>
        <name>paymentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_for_Completing_Order_Process_Fully</name>
        <label>Pause for Completing Order Process Fully</label>
        <locationX>789</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Order_Processed_Fully</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ActivateOrder</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>datetimetoresume</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Order Processed Fully</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Billing schedule creation is asynchronous. Wait until the Flow receives the Billing Schedule Created event, which indicates that Salesforce finished processing the billing schedule request.</description>
        <name>WaitForBillingScheduleCreatedEvent</name>
        <label>Wait For Billing Schedule Created Event</label>
        <locationX>1954</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>BillingScheduleComplete</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>IterateOverBillingScheduleEvents</targetReference>
            </connector>
            <eventType>BillingScheduleCreatedEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>CreateBillingSchedulesfromOrderProducts.requestId</elementReference>
                </value>
            </inputParameters>
            <label>Complete</label>
            <outputParameters>
                <assignToReference>BillingScheduleCreatedEvent</assignToReference>
                <name>BillingScheduleCreatedEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <description>Asset creation is asynchronous. Wait until the Flow receives the Create Asset Order event, which is published when Salesforce finishes processing the request.</description>
        <name>WaitForCreateAssetOrderEvent</name>
        <label>Wait For Create Asset Order Event</label>
        <locationX>1255</locationX>
        <locationY>456</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>OrderAssetComplete</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>IterateOverCreateAssetOrderDtlEvents</targetReference>
            </connector>
            <eventType>CreateAssetOrderEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>CreateAssetsFromOrder.requestId</elementReference>
                </value>
            </inputParameters>
            <label>Complete</label>
            <outputParameters>
                <assignToReference>CreateAssetOrderEvent</assignToReference>
                <name>CreateAssetOrderEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <description>Invoice processing is asynchronous. Wait until the Flow receives the Invoice Processed event, which indicates that Salesforce finished processing the invoice creation request.</description>
        <name>WaitForInvoiceProcessedEvent</name>
        <label>Wait For Invoice Processed Event</label>
        <locationX>2587</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>InvoiceComplete</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>InvoiceHasError</targetReference>
            </connector>
            <eventType>InvoiceProcessedEvent</eventType>
            <inputParameters>
                <name>CorrelationIdentifier</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <label>Complete</label>
            <outputParameters>
                <assignToReference>InvoiceProcessedEvent</assignToReference>
                <name>InvoiceProcessedEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <description>Creating the payment is an asynchronous process. Wait until the Flow receives the Payment Creation event, which indicates that Salesforce finished processing the payment request.</description>
        <name>WaitForPaymentCreationEvent</name>
        <label>Wait For Payment Creation Event</label>
        <locationX>3028</locationX>
        <locationY>875</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PaymentSaleComplete</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>PaymentSaleErrorCheck</targetReference>
            </connector>
            <eventType>PaymentCreationEvent</eventType>
            <inputParameters>
                <name>RequestIdentifier</name>
                <value>
                    <elementReference>ChargePaymentMethod.requestId</elementReference>
                </value>
            </inputParameters>
            <label>Complete</label>
            <outputParameters>
                <assignToReference>PaymentCreationEvent</assignToReference>
                <name>PaymentCreationEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
