sm/sm-temp/main/default/flows/Create_Billing_Schedule_and_Asset_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create assets for each activated order.</description>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>341</locationX>
        <locationY>1944</locationY>
        <actionName>createOrUpdateAssetFromOrder</actionName>
        <actionType>createOrUpdateAssetFromOrder</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Create billing schedules for order items.</description>
        <name>Create_Billing_Schedules</name>
        <label>Create Billing Schedules</label>
        <locationX>341</locationX>
        <locationY>1824</locationY>
        <actionName>createBillingScheduleFromOrderItem</actionName>
        <actionType>createBillingScheduleFromOrderItem</actionType>
        <connector>
            <targetReference>Create_Assets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderItemIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Get the ID of each order item on an order that isn&apos;t a BuyNow order.</description>
        <name>Collect_Order_Item_Ids</name>
        <label>Collect Order Item Ids</label>
        <locationX>429</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>OrderItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_OrderItems.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the number of orders where AppUsageAssignment has a value of SubscriptionManagement or BuyNow.</description>
        <name>Count_Records</name>
        <label>Count SubscriptionManagement and BuyNow Records</label>
        <locationX>385</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SMBuyNowOrderRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Query_AppUsageAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_All_Records_contain_SubscriptionManagement_and_BuyNow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count SubscriptionManagement records on the order.</description>
        <name>Count_SM_record</name>
        <label>Count SubscriptionManagement Records</label>
        <locationX>165</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>SMOrderRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_SubscriptionManagement_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_from_Subscription_Management</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Action_Count</name>
        <label>Order Action Count</label>
        <locationX>627</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>CountOrderActions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listOfOrderAction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_Count_Action</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter SubscriptionManagement records out of the order.</description>
        <name>Filter_SubscriptionManagement_record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find SubscriptionManagement Records</label>
        <locationX>165</locationX>
        <locationY>1008</locationY>
        <assignNextValueToReference>currentItem_Filter_SubscriptionManagement_record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Query_AppUsageAssignment</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_SubscriptionManagement_record.AppUsageType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SubscriptionManagement</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_SM_record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Determine whether the order is from both workflows: SubscriptionManagement and BuyNow.</description>
        <name>Do_All_Records_contain_SubscriptionManagement_and_BuyNow</name>
        <label>Both SubscriptionManagement and BuyNow?</label>
        <locationX>385</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMBuyNowOrderRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_SubscriptionManagement_record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Count_Action</name>
        <label>Order Action Count</label>
        <locationX>627</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOrderActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_AppUsageAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether the order is from the SubscriptionManagement workflow.</description>
        <name>Is_Order_from_Subscription_Management</name>
        <label>Are All Records SubscriptionManagement?</label>
        <locationX>165</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Query_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_SubscriptionManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMOrderRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>801B0000001ygUyIAI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Billing Schedule and Asset Clone</label>
    <loops>
        <description>Loop through each order item to help the Assignment process collect order item IDs.</description>
        <name>Iterate_OrderItems</name>
        <label>Iterate Over Order Items</label>
        <locationX>341</locationX>
        <locationY>1488</locationY>
        <collectionReference>Query_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Order_Item_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Billing_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Action</name>
        <label>Get Order Action</label>
        <locationX>627</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Action_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <object>OrderAction</object>
        <outputReference>listOfOrderAction</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the value of AppUsageAssignment on each order.</description>
        <name>Query_AppUsageAssignment</name>
        <label>Get AppUsageAssignment</label>
        <locationX>385</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AppUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BuyNow</stringValue>
            </value>
        </filters>
        <filters>
            <field>AppUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubscriptionManagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AppUsageAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppUsageType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get information about the order items on an activated order.</description>
        <name>Query_Order_Items</name>
        <label>Get Order Items for Activated Order</label>
        <locationX>341</locationX>
        <locationY>1368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>revenue_commerce_orders__OrdToBSAsset</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>checkoutOrder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Order_Action</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Create_Assets.requestId</elementReference>
        </value>
    </variables>
    <variables>
        <name>countOrderAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOrderActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_SubscriptionManagement_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppUsageAssignment</objectType>
    </variables>
    <variables>
        <name>listOfOrderAction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderAction</objectType>
    </variables>
    <variables>
        <description>Stores the order item IDs for the activated order. Used to create billing schedules and assets.</description>
        <name>OrderItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the AppUsageAssignment records where the RecordId equals the activated order&apos;s ID, and the AppUsageType equals BuyNow or SubscriptionManagement. Used to determine if orders are part of the BuyNow and SubscriptionManagement processes.</description>
        <name>SMBuyNowOrderRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the AppUsageAssignment records where the RecordId equals the activated order&apos;s ID, and the AppUsageType equals SubscriptionManagement. Used to determine if orders are part of the SubscriptionManagement process.</description>
        <name>SMOrderRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
