sm/sm-temp/main/default/flows/SM_Buy_Now_Screen_Saved_Payment_From_Draft_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Payment_Method</name>
        <label>Assign Payment Method</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>paymentMethodId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buy_Now_From_Order</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AllCardPaymentMethods</name>
        <dataType>String</dataType>
        <displayField>NickName</displayField>
        <object>CardPaymentMethod</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>[SM] Buy Now Screen Saved Payment From Draft Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM] Buy Now Screen Saved Payment From Draft Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_Payment_Method</name>
        <label>Select Payment Method</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Payment_Method</targetReference>
        </connector>
        <fields>
            <name>Payment</name>
            <choiceReferences>AllCardPaymentMethods</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Payment_Method</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buy_Now_From_Order</name>
        <label>Buy Now From Order</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <flowName>Buy_Now_Pilot_Existing_Order</flowName>
        <inputAssignments>
            <name>GatewayId</name>
            <value>
                <elementReference>gatewayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentMethodId</name>
            <value>
                <elementReference>paymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>gatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
