sm/sm-b2b-connector/main/default/flows/B2B_eCommerce_Buy_Now.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>B2B_Buy_Now_Callout_Request</name>
        <label>B2B Buy Now Callout Request</label>
        <locationX>446</locationX>
        <locationY>253</locationY>
        <actionName>B2B_BuyNowCallout</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>paymentMethodId</name>
            <value>
                <elementReference>GetOrder.Payment_Method_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smOrderId</name>
            <value>
                <elementReference>GetOrder.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PO_Payment</name>
        <label>PO Payment</label>
        <locationX>440</locationX>
        <locationY>628</locationY>
        <actionName>B2B_BuyNowCallout</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>smOrderId</name>
            <value>
                <elementReference>GetOrder.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Payment_Method</name>
        <label>Payment Method</label>
        <locationX>283</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>PO_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.Payment_Method_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2B_Buy_Now_Callout_Request</targetReference>
            </connector>
            <label>Credit Card</label>
        </rules>
    </decisions>
    <description>TWO Payment Method Actions</description>
    <environments>Default</environments>
    <interviewLabel>B2B Buy Now {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B eCommerce Buy Now</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>667</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>MessageLong__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>&apos;Flow Error&apos;</stringValue>
            </value>
        </inputAssignments>
        <object>MessageLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>52</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.smOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>18</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <object>OrderSummaryCreatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
