sm/sm-b2b-connector/main/default/flows/B2B_Order_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>432</locationX>
        <locationY>251</locationY>
        <actionName>activateOrderAction</actionName>
        <actionType>activateOrderAction</actionType>
        <connector>
            <targetReference>UpdateSessionProcessing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderStatus</name>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the updateCheckoutState invocable action and sets the value of the next state field for the current checkout session object. The action is only used in asynchronous subflows.</description>
        <name>Update_Checkout_Session_State</name>
        <label>Update Checkout Session State</label>
        <locationX>90</locationX>
        <locationY>405</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>managedOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MANAGED</stringValue>
        </value>
    </constants>
    <constants>
        <name>unmanagedOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UNMANAGED</stringValue>
        </value>
    </constants>
    <description>v.55 WITHOUT SHARING</description>
    <environments>Default</environments>
    <interviewLabel>B2B Order Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Order Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordUpdates>
        <name>UpdateSessionProcessing</name>
        <label>UpdateSessionProcessing</label>
        <locationX>592</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Updated_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsProcessing</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextState</field>
            <value>
                <stringValue>Order Confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>Activate Order</stringValue>
            </value>
        </inputAssignments>
        <object>CartCheckoutSession</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>B2B_Order_Review</name>
        <label>B2B_Order_Review</label>
        <locationX>150</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Session</targetReference>
        </connector>
        <fields>
            <name>B2B_Order_Review_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>B2B_Order_Review_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>B2B_Checkout_Order_Review</name>
                    <extensionName>c:b2b_checkoutOrderReview</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>cartId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>B2B_Order_Review_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>B2B_Totals</name>
                    <extensionName>c:b2b_cartTotals</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>cartId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>sfdc_checkout__ActivateOrder</sourceTemplate>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>B2B_Order_Review</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>275</locationX>
        <locationY>500</locationY>
        <flowName>sfdc_checkout__Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Updated_Session</name>
        <label>Updated Session</label>
        <locationX>739</locationX>
        <locationY>250</locationY>
        <flowName>sfdc_checkout__UpdateCheckoutState</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <stringValue>Activate Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <stringValue>Order Confirmation</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Session</name>
        <label>Validate Session</label>
        <locationX>269</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <flowName>sfdc_checkout__CheckoutSession</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>closeCart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
