sm/sm-b2b-connector/main/default/flows/Buyer_Permission_Set_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>error_email</name>
        <label>error email</label>
        <locationX>1223</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_error_email_ids.Key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>error while assigning permission sets</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>there was some error while assigning permission set, please contact salesforce admin</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>log_error</name>
        <label>log error</label>
        <locationX>1034</locationX>
        <locationY>673</locationY>
        <actionName>B2B_FlowExceptionsHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <stringValue>there was some error while assigning permission set, please contact salesforce admin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorSubject</name>
            <value>
                <stringValue>Buyer Permission Set Assignment failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Permission_Set_Found</name>
        <label>Is Permission Set Found</label>
        <locationX>744</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buyer_Permission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PS_Collections</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow assigns Buyer Permission set to Portal user when created.
error logging</description>
    <environments>Default</environments>
    <interviewLabel>Buyer Permission Set Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buyer Permission Set Assignment</label>
    <loops>
        <name>PS_Collections</name>
        <label>PS Collections</label>
        <locationX>504</locationX>
        <locationY>523</locationY>
        <collectionReference>Get_Buyer_Permission</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Permission_Set_Assignment_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Permission_Set_Assignment_0</name>
        <label>Permission Set Assignment</label>
        <locationX>708</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>PS_Collections</targetReference>
        </connector>
        <faultConnector>
            <targetReference>log_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PS_Collections.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Buyer_Permission</name>
        <label>Get Buyer Permission</label>
        <locationX>752</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Permission_Set_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>log_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RSM_Shopper</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_error_email_ids</name>
        <label>get error email ids</label>
        <locationX>1163</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>error_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin Error Emails</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RSM_Connector_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>384</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Buyer_Permission</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
