sm/sm-b2b-connector/main/default/flows/SM_Renewal_Order_Tax_Calculate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Order_Tax</name>
        <label>Calculate Order Tax</label>
        <locationX>642</locationX>
        <locationY>326</locationY>
        <actionName>SM_CalculateTaxOrderItem</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>error_log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.RenewalRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>error_log</name>
        <label>error log</label>
        <locationX>515</locationX>
        <locationY>554</locationY>
        <actionName>B2B_FlowExceptionsHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <stringValue>Something went wrong renewal flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorSubject</name>
            <value>
                <stringValue>Renwal Error- SM renewal order tax calculate failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Renewal_Error_Email</name>
        <label>Send Renewal Error Email</label>
        <locationX>378</locationX>
        <locationY>326</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>error_log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Something went wrong renewal flow </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>prkumar@rafter.one</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Renwal Error</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Has_Error_in_Renewal</name>
        <label>Has Error in Renewal</label>
        <locationX>510</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Calculate_Order_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Renewal_Error_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>error logging</description>
    <environments>Default</environments>
    <interviewLabel>SM Renewal Order Tax Calculate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SM Renewal Order Tax Calculate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>384</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Has_Error_in_Renewal</targetReference>
        </connector>
        <object>AssetRenewInitiatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
